#painting {
  position: relative;
  width: 600px;
  height: 600px;
  overflow: hidden;
}
#canvas {
  background-color: #29333C;
  width: 100%;
  height: 100%;
}
#painting div {
  position: absolute
}

#one {
  right: 0;
  height: 26%;
  width: 53%;
  background: rgba(101,101,98,1);
  /* background: linear-gradient(13deg, rgba(41,51,60,1) 35%, rgba(101,101,98,1) 100%); */
}

#two {
  background: #C2B1A1;
  left: 20%;
  height: 60%;
  width: 33%;
  box-shadow: -2px 2px 42px 44px rgba(194,177,161,1);
}
#three{
  height: 15%;
  width: 21%;
  right: 20%;
  background: #557170;
  background: linear-gradient(90deg, rgba(41,51,60,0) 0%, rgba(85,113,112,1) 38%, rgba(87,112,110,1) 67%, rgba(101,101,98,0) 100%);
}
#a4{
  height: 13%;
  width: 14%;
  right: 21%;
  top: 11%;
  background: #5B7D7C;
  box-shadow: -1px 2px 30px 28px rgba(91,125,124,1);
}
#a5{
  height: 38%;
  width: 24%;
  right: 16%;
  top: 23%;
  background: #577B75;
  box-shadow: -2px 2px 33px 24px rgba(87,123,117,1);
}
#a6{
  height: 38%;
  width: 18%;
  right: 0%;
  top: 23%;
  background: #5E5A4E;
  /* background: linear-gradient(273deg, rgba(94,90,78,1) 56%, rgba(41,51,60,0) 95%); */
  box-shadow: -2px 2px 33px 30px rgba(94,90,78,1);
}
#a7{
  height: 24%;
  width: 8%;
  right: 5%;
  top: 28%;
  background: #645D52;
  box-shadow: -2px 2px 20px 12px rgba(100,93,82,1);
}
#a8{
  height: 9%;
  width: 27%;
  right: 0%;
  top: 52%;
  background: #5A7773;
  filter: blur(16px);
}
#a9{
  height: 39%;
  width: 10%;
  left: 56%;
  top: 19%;
  background: #6D695C;
  background: linear-gradient(180deg, rgba(41,51,60,0) 13%, rgba(109,105,92,1) 66%);
  filter: blur(6px);
}
#a10{
  height: 23%;
  width: 0.5%;
  left: 57%;
  top: 28%;
  background: #a57b67;
  /* filter: blur(2px); */
  box-shadow: -2px 0px 2px 0px #7e4327, 1px 0px 0px 0px #ceaa9b inset;
}
#a11{
  height: 12%;
  width: 8%;
  left: 56%;
  top: 48%;
  background: #8B6957;
  filter: blur(6px);
}

#a12{
  height: 7%;
  width: 5%;
  left: 59%;
  top: 48%;
  background: #AE715B;
  transform: skew(-30deg
  );
  filter: blur(8px);
}
#a13{
    height: 3%;
    width: 5%;
    left: 59%;
    top: 54%;
    background: #C38677;
    filter: blur(5px);
}
#a14{
    height: 2%;
    width: 12%;
    left: 64%;
    top: 54%;
    background: #99785C;
    filter: blur(5px);
}
#a15{
    left: 44.5%;
    top: 55.4%;
    width: 57%;
    height: 13.4%;
    filter: blur(2px);
    background: #505254;
    transform: rotate(-11deg);
}
#a16{
    height: 4%;
    width: 9%;
    left: 56%;
    top: 57%;
    background: #5A5765;
    filter: blur(4px);
}
#a17{
    height: 14%;
    width: 9%;
    left: 47%;
    top: 47%;
    background: #6D8A91;
    /* filter: blur(1px); */
    box-shadow: 1px 0px 0px 0px #b6d0d6, -1px 0px 0px 1px #5c7377 inset;
}
#a18{
    height: 2%;
    width: 9%;
    left: 47%;
    top: 57%;
    background: #969DB6;
    filter: blur(1px);
}
#a19{
    height: 2%;
    width: 8%;
    left: 47%;
    top: 55%;
    background: #B69C8D;
    /* filter: blur(2px); */
    box-shadow: 0px 2px 2px 0px #826e63, 0px -1px 1px 0px #dec7ba inset;
}
#a20{
    height: 5%;
    width: 6%;
    left: 47%;
    top: 51%;
    background: #4EB2C5;
    /* filter: blur(1px); */
    box-shadow: 0px 2px 2px 0px #4b8692, 0px -1px 1px 0px #a6d9e2 inset;
  }
#a21{
    height: 30%;
    width: 8%;
    left: 47%;
    top: 21%;
    /* filter: blur(1px); */
    background: #A6D6EE;
    background: linear-gradient(180deg, rgba(41,51,60,0) 22%, rgba(166,214,238,1) 85%);
    box-shadow: 0px 2px 2px 0px #749eb3, 0px -1px 1px 0px #c6ebfd inset;
}
#a22{
    height: 7%;
    width: 4%;
    left: 43%;
    top: 55%;
    background: #91949C;
    box-shadow: 1px 0px 0px 0px #b2b6c1, -1px 0px 0px 0px #72767f inset;
}

#a23{
    height: 7%;
    width: 2%;
    left: 41%;
    top: 55%;
    background: #B4BFC1;
}
#a24{
    height: 5%;
    width: 6%;
    left: 41.1%;
    top: 50%;
    background: #BCC0F0;
    box-shadow: 1px -1px 0px 0px #e2e3f9 inset, -2px 1px 0px 0px #8488af;
}
#a25{
    height: 3%;
    width: 6%;
    left: 35%;
    top: 59%;
    background: #F7CC97;
    box-shadow: 0px -1px 0px 0px #f9debe inset, 0px 1px 1px 1px #d8ac74;
}
#a26{
    height: 5%;
    width: 6%;
    left: 35%;
    top: 49.7%;
    background: #DFA574;
    box-shadow: 0px 0px 0px 0px #f9debe inset, 0px 2px 1px 0px #b5865f;
}
#a27{
    height: 4%;
    width: 6%;
    left: 35%;
    top: 55%;
    background: #FDD194;
    box-shadow: 0px 1px 1px 0px #d8b27e;
}
#a28{
    height: 6%;
    width: 9.5%;
    left: 37.5%;
    top: 44%;
    background: #E0B588;
    box-shadow: 0px -1px 0px 0px #f2dcc5 inset, 0px 1px 0px 0px #b1906e;
}
#a29{
    height: 10%;
    width: 9.4%;
    left: 28%;
    top: 43.9%;
    background: #F7BA81;
    box-shadow: 0px 1px 0px 0px #caaa8e inset, 0px -1px 1px 0px #fbd2ad;
}
#a30{
    height: 7%;
    width: 9%;
    left: 26%;
    top: 55%;
    background: #EE6552;
}
#a31{
    height: 6.4%;
    width: 7%;
    left: 28%;
    top: 55%;
    background: #EF966B;
    box-shadow: -1px 0px 1px 0px #ab6f52;
}
#a32{
    height: 10.2%;
    width: 4%;
    left: 31.3%;
    top: 50%;
    background: #FFEB99;
    box-shadow:  -1px 0px 1px 0px #dbcb8c;
}
#a33{
    height: 11%;
    width: 7%;
    left: 28%;
    top: 44%;
    background: #FFDA8F;
    background: linear-gradient(0deg, rgba(255,218,143,1) 63%, rgba(246,187,130,1) 83%);
}
#a34{
    height: 7%;
    width: 6%;
    left: 30%;
    top: 55%;
    background: #91949C;
    opacity: 0.7;
    filter: blur(3px);
}
#a35{}
#a36{}
#a37{}
#a38{}
#a39{}


